@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Aykome/Raporlar/Kazı Raporu 2";
}
@section Styles {
    <style>
        .chckLst {
            background-color: #00987933;
            padding: 5px;
            border-radius: 8px;
            height: 110px;
            overflow: auto;
        }
    </style>
}
<div class="cerceve">
    <h1 class="baslik1">Kazı Raporu 2</h1>
    <div class="tblsearch">


        <div class="row">

            <div class="col-12">
                <label>Durum</label>
                <select id="slcDurum" class="form-select form-select-sm inputIslem" data-tip="select" data-ref="#btnVeriAra">
                    <option value="-1">Seç</option>
                </select>
            </div>

            <div class="col-6">
                <label>Birimler</label>
                <div class="chckLst" id="lstBirimler">
                </div>
            </div>


            <div class="col-6">
                <label>Proje Tipleri</label>

                <div class="chckLst" id="lstProjeTipleri">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Başvuru Tarihi Başlangıç</label>
                <input id="txtBasBasTar" type="date" class="form-control form-control-sm inputIslem" placeholder="Başvuru Tarihi Başlangıç" data-tip="enter" data-ref="#btnVeriAra" />
            </div>
            <div class="col">
                <label>Başvuru Tarihi Bitiş</label>
                <input id="txtBasBitTar" type="date" class="form-control form-control-sm inputIslem" placeholder="Başvuru Tarihi Bitiş" data-tip="enter" data-ref="#btnVeriAra" />
            </div>
            <div class="col">
                <label>Onaylanan Tarihi Başlangıç</label>
                <input id="txtOnyBasTar" type="date" class="form-control form-control-sm inputIslem" placeholder="Onaylanan Tarih Başlangıç" data-tip="enter" data-ref="#btnVeriAra" />
            </div>
            <div class="col">
                <label>Onaylanan Tarihi Bitiş</label>
                <input id="txtOnyBitTar" type="date" class="form-control form-control-sm inputIslem" placeholder="Onaylanan Tarih Bitiş" data-tip="enter" data-ref="#btnVeriAra" />
            </div>
        </div>
        <div class="mt-3 d-flex justify-content-between">
            <div><button type="button" class="btnFiltreClear btn btn-secondary btn-sm "><i class="bx bx-square"></i>Temizle</button></div>
            <div class="d-flex gap-1">
                <button id="btnVeriRapor" hidden="hidden" type="button" class="btnSearch btn btn-info btn-sm"><i class="bx bxs-file-pdf"></i><span>Rapor</span></button>
                <button id="btnVeriAra" type="button" class="btnSearch btn btn-warning btn-sm"><i class="bx bx-search"></i><span>Ara</span></button>
            </div>

        </div>
    </div>
    <h2 class="altbaslik mt-3">YOL VE TALEP SAHİBİ BİRİM BAZINDA KAZI RAPORU</h2>
    <table class="fixtbl mt-3" cellpadding="0" cellspacing="0" border="0">
        <thead class="tblhead">
            <tr>
                <th>Yol Referans</th>
                <th>Yol Ad</th>
                <th>Birim Ad</th>
                <th>Birim No</th>
                <th>Proje No</th>
                <th>Proje Referans</th>
                <th>Durum</th>
            </tr>
        </thead>
    </table>

    <div class="position-relative">
        <div class="overflow-auto tblbotsty">
            <table class="table fixtbl">
                <tbody id="tblData">
                </tbody>
            </table>
        </div>
        <div class="tblload" hidden="hidden">
            <i class="bx bx-search bx-tada fs-4"></i>Yükleniyor...
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center mt-2">
        <div class="fs-9">
            <span>Toplam Kayıt</span>
            <span id="lblgosterim" class="ms-1 me-1 text-secondary"></span>
            <span id="lbltoplamkayit"></span>
        </div>
        <div>
            <button type="button" class="btn btn-warning btn-sm btnDatOnc"><< Bir Önceki Sayfa</button>
            <button type="button" class="btn btn-warning btn-sm btnDatSon">Bir Sonraki Sayfa>> </button>
        </div>
    </div>

</div>
<div class="modal" id="mdlRapor" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Rapor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <button type="button" class="btn btn-full"><i class="ph ph-frame-corners"></i></button>
            </div>
            <div class="modal-body">
                <div id="canvas" class="text-center"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-sm" onclick="fncYazdir()">
                    <i class='bx bxs-printer'></i>
                    <span>Yazdır</span>
                </button>
                <button type="button" class="btn btn-danger btn-sm" onclick="fncPdfIndr()">
                    <i class='bx bxs-download'></i>
                    <span>İndir</span>
                </button>
                <button type="button" class="btn btn-success btn-sm" onclick="fncPdfopen()">
                    <i class='bx bxs-show'></i>
                    <span>Göster</span>
                </button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.8/pdfmake.min.js" integrity="sha512-uVTNNXu6Z1rrgpMLuErTMferac7mGwfA7/oXfuGbpSmBqcopa8jCURWE1rBF3LMg7Zir+avOX807eGwHaL7akA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.8/vfs_fonts.min.js" integrity="sha512-EFlschXPq/G5zunGPRSYqazR1CMKj0cQc8v6eMrQwybxgIbhsfoO5NAMQX3xFDQIbFlViv53o7Hy+yCWw6iZxA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.0.385/build/pdf.min.js"></script>
    <script src="~/js/_aykome/kaziraporu.js"></script>
}

